---
import BackToTop from "@components/control/BackToTop.astro";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import SideBar from "@components/widget/SideBar.astro";
import type { MarkdownHeading } from "astro";
import { Icon } from "astro-icon/components";
import ImageWrapper from "../components/misc/ImageWrapper.astro";
import TOC from "../components/widget/TOC.astro";
import { siteConfig } from "../config";
import {
	BANNER_HEIGHT,
	BANNER_HEIGHT_EXTEND,
} from "../constants/constants";
import Layout from "./Layout.astro";

interface Props {
	title?: string;
	banner?: string;
	description?: string;
	lang?: string;
	setOGTypeArticle?: boolean;
	headings?: MarkdownHeading[];
}

const {
	title,
	banner,
	description,
	lang,
	setOGTypeArticle,
	headings = [],
} = Astro.props;
const hasBannerCredit =
	siteConfig.banner.enable && siteConfig.banner.credit.enable;
const hasBannerLink = !!siteConfig.banner.credit.url;

const mainPanelTop = siteConfig.banner.enable
	? `calc(4rem + var(--banner-height-home) + 1.5rem)`
	: "5.5rem";
---

<Layout title={title} banner={banner} description={description} lang={lang} setOGTypeArticle={setOGTypeArticle}>

<!-- Navbar -->
<slot slot="head" name="head"></slot>
<div id="top-row" class="z-50 pointer-events-none relative transition-all duration-700 max-w-[var(--page-width)] px-0 md:px-4 mx-auto" class:list={[""]}>
    <div id="navbar-wrapper" class="pointer-events-auto sticky top-0 transition-all">
        <Navbar></Navbar>
    </div>
</div>

<!-- Banner -->
{siteConfig.banner.enable && <div id="banner-wrapper" class="absolute z-10 w-full transition duration-700 overflow-hidden" style={`top: 4rem; height: var(--banner-height-home);`}>
    <!-- Image -->
    <ImageWrapper id="banner" alt="Banner image of the blog" class="object-cover w-full h-full transition duration-700 absolute inset-0 z-0"
                  src={siteConfig.banner.src} position={siteConfig.banner.position}
    >
    </ImageWrapper>
    <!-- Bottom fade to blend with content -->
    <div class="absolute inset-x-0 bottom-0 h-10 bg-gradient-to-t from-[var(--page-bg)] to-transparent z-10"></div>
</div>}

<!-- Main content -->
<div class="absolute w-full z-30 pointer-events-none" style={`top: ${mainPanelTop}`}>
    <!-- The pointer-events-none here prevent blocking the click event of the TOC -->
    <div class="relative max-w-[var(--page-width)] mx-auto pointer-events-auto">
        <div id="main-grid" class:list={["transition duration-700 w-full left-0 right-0 grid mx-auto gap-8 px-6 md:px-8",
            "grid-cols-[18rem_1fr] lg:grid-rows-[auto]",
            { "lg:grid-cols-[18rem_1fr_18rem]": siteConfig.toc.enable }
        ]}
        >
            <!-- Banner image credit -->
            {hasBannerCredit && <a href={siteConfig.banner.credit.url} id="banner-credit" target="_blank" rel="noopener" aria-label="Visit image source"
                                   class:list={["group onload-animation transition-all absolute flex justify-center items-center rounded-full " +
                                   "px-3 right-4 -top-[3.25rem] bg-black/60 hover:bg-black/70 h-9", {"hover:pr-9 active:bg-black/80": hasBannerLink}]}
            >
                <Icon class="text-white/75 text-[1.25rem] mr-1" name="material-symbols:copyright-outline-rounded" ></Icon>
                <div class="text-white/75 text-xs">{siteConfig.banner.credit.text}</div>
                <Icon class:list={["transition absolute text-[oklch(0.75_0.14_var(--hue))] right-4 text-[0.75rem] opacity-0",
                    {"group-hover:opacity-100": hasBannerLink}]}
                      name="fa6-solid:arrow-up-right-from-square">
                </Icon>
            </a>}


            <SideBar class="mb-4 row-start-2 row-end-3 col-span-2 lg:row-start-1 lg:row-end-2 lg:col-span-1 lg:max-w-[18rem] onload-animation" headings={headings}></SideBar>

            <main id="swup-container" class="transition-swup-fade col-span-2 lg:col-span-1 overflow-hidden pb-20">
                <div id="content-wrapper" class="onload-animation pt-4">
                    <!-- the overflow-hidden here prevent long text break the layout-->
                    <!-- make id different from windows.swup global property -->
                    <slot></slot>
                </div>
            </main>

            <!-- TOC in right column -->
            {siteConfig.toc.enable && <aside id="toc-aside" class="hidden lg:block col-start-3 row-start-1 onload-animation"
                style="width: 18rem; max-height: calc(100vh - 12rem); position: sticky; top: calc(4rem + var(--banner-height-home) + 2rem);"
            >
                <div id="toc-inner-wrapper" class="w-full max-h-[calc(100vh_-_10rem)] overflow-y-auto hide-scrollbar rounded-xl bg-[var(--card-bg)] border border-[var(--border-color)] shadow-lg">
                    <div id="toc" class="w-full transition-swup-fade p-4">
                        <TOC headings={headings}></TOC>
                    </div>
                </div>
            </aside>}

            <!-- #toc needs to exist for Swup to work normally -->
            {!siteConfig.toc.enable && <div id="toc"></div>}
        </div>

        <BackToTop></BackToTop>
    </div>
</div>

<!-- Footer - Fixed at bottom, full width -->
<Footer></Footer>
</Layout>
